*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font: 1.3rem/1.5 'Patua One', cursive;
}

body, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.Base-full {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;

  background: #fff;
}