#SelectType {
  visibility: hidden;
  opacity: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#SelectType.visible {
  visibility: visible;
  opacity: 1;
}

#SelectType h2 {
  text-align: center;
  padding: 0 10vw;
  margin: 0 0 1.5rem;
}

#SelectType ul {
  width: 70vw;
  height: 60vh;
  display: flex;
  justify-content: space-around;

  box-shadow: none;
}

#SelectType.visible ul {
  animation: select-box-move 1.5s ease 1 forwards;
}

#SelectType li {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: stretch;

  position: relative;
}

a.Select-type {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  font-size: 2em;
  text-decoration: none;

  color: #fff;
  background: #e30e1f;
  text-shadow: 1px 1px 0 #000,
  2px 2px 0 #000,
  3px 3px 0 #000,
  4px 4px 0 #000,
  5px 5px 0 #000;

  transition: all 1s ease;
}

a.Select-type:hover {
  background: #209db4;
}

a.Select-type-tvshow {
  background: #d50e1d;
}

@keyframes select-box-move {
  0% {
    box-shadow: 0 0 0 #626262;
    margin: 10px -30px -30px 10px;
  }
  100% {
    box-shadow: 30px 30px 0 #adadad;
    margin: 0;
  }
}

@media only screen and (max-width: 975px) {
  #SelectType ul {
    flex-direction: column;
  }

  /*#SelectType li, #SelectType a {*/
  /*width: auto;*/
  /*height: auto;*/
  /*}*/
}

@media only screen and (max-height: 740px) {
  #SelectType ul {
    height: 50vh;
  }
}