#Result, #ResultButtons {
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease;
}

#Result.visible, #ResultButtons.visible {
  visibility: visible;
  opacity: 1;
}

#ResultButtons {
  position: absolute;
  right: calc(1rem + 10px);
  top: 1rem;

  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

#ResultButtons button {
  font: 1.3rem/1.5 'Patua One', cursive;
  color: #fff;
  background: #e30e1f;
  box-shadow: 10px 10px 0 #ccc;
  cursor: pointer;

  margin: 0 0 0 1rem;
  padding: .5rem;
  border: none;
  outline: none;

  transition: all .25s ease;
}

#ResultButtons button:active, #ResultButtons button:focus {
  margin: 10px -10px -10px 10px;
  box-shadow: 0 0 0 #626262;
  outline: none;
}

#Result {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: opacity .5s, visibility 0s .5s;
  overflow: hidden;
}

#Result.hide-transition {
  opacity: 0;
  visibility: hidden;
}

#Result a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#Result a, #Result a:hover {
  color: #fff;
  text-decoration: none;
}

#Result h1 {
  position: relative;
  z-index: 60;

  width: 30vw;
  font: 4.5em/.85 'Molle', cursive;
  margin: 0 -9px calc(-1em - 9px) calc(-1em + 9px);
  padding: 0;

  color: #fff;
  text-shadow: none;
}

#Result.visible h1 {
  animation: result-title 1s .5s ease 1 forwards;
}

.Result-poster {
  position: relative;
  z-index: 50;
  width: 50vw;
  max-width: 500px;
  height: auto;

  margin: 0 -50vw -50vw 0;
  box-shadow: none;
}

#Result.visible .Result-poster {
  animation: result-image 1s ease 1 forwards;
}

.Result-star-background {
  position: absolute;
  left: 100%;
  bottom: -150vh;
  margin-left: -40vw;

  width: 80vw;
  height: auto;
  transform: rotate(-180deg);
}

#Result.visible .Result-star-background {
  animation: result-backgroundimage 1.5s ease 1 forwards;
}

@keyframes result-title {
  0% {
    text-shadow: none;
    margin: 0 -9px calc(-1em - 9px) calc(-1em + 9px);
  }
  100% {
    text-shadow: -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000,
    1px 1px 0 #000,
    2px 2px 0 #000,
    3px 3px 0 #000,
    4px 4px 0 #000,
    5px 5px 0 #000,
    6px 6px 0 #000,
    7px 7px 0 #000,
    8px 8px 0 #000,
    9px 9px 0 #000;
    margin: 0 0 -1em -1em;
  }
}

@keyframes result-image {
  0% {
    margin: 0 -50vw -50vw 0;
    box-shadow: 0 0 0 rgba(0,0,0,.62);
  }
  100% {
    margin: 0;
    box-shadow: 40px 40px 0 rgba(0,0,0,.2);
  }
}

@keyframes result-backgroundimage {
  0% {
    transform: rotate(-180deg);
    left: 100%;
    bottom: -150vh;
  }
  100% {
    transform: rotate(-360deg);
    left: 50%;
    bottom: -40vh;
  }
}